<footer>
  <div>
    <p>
    {{ .Site.Params.copyright }}
    <a href="https://creativecommons.org/licenses/by/4.0/" title="Creative Commons Attribution">BY-NC-SA</a>;
    please attribute properly and link back.
    </p>
  </div>
</footer>