@media (min-width: 770px) {
body {
    width: 100%;
    line-height: 1.5;
}

main#content hr {
    width: 108%;
    margin-left: 5%;
}

/* index.html styles */
header#banner h2 {
    font-size: 25px;
    font-size: 2.5rem;
}

main#content h3 {
    font-size: 20px;
    font-size: 2rem;
}

main#content ul#posts {
    font-size: 18px;
    font-size: 1.8rem;
}

/* single.html styles */
main#content header#post-header h1 {
    font-size: 24px;
    font-size: 2.4rem;
}

main#content img {
    max-width: 108%;
    margin-left: -3.8%;
}

main#content figure {
    margin-left: -3.8%;
}

main#content figure img {
    max-width: 100%;
}

main#content pre {
    width: 100%;
    margin-left: -3.8%;
    padding: 1.5rem 2.2rem;
}
}
